*{
    box-sizing: border-box;
}

:root{
    /* colors */
    --primary-dark-bg: #483756;
    --secondary-dark-bg: #564785;
    --tertiary-dark-bg: #343431;

    --primary-darktheme-fg: #FFFADE;
    --secondary-darktheme-fg: #F0C961;
    --tertiary-darktheme-fg: #F6EBFF;

    --theme: dark;

    --plain-col: white;
    --plain-dark: black;


    /* fonts */
    --primary-font: 'Segoe UI', sans-serif;
    --secondary-font: 'MV Boli', serif;
    --highlighted-font: 'Courier New', monospace;

    color-scheme: dark;
}

#themeBtn{
    position: fixed;
    display: inline-block;
    bottom: 10px;
    right: 10px;
    background-color: var(--primary-darktheme-fg);
    /* color: var(--plain-col); */
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#themeBtn img{
    width: 100%;
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--tertiary-darktheme-fg);
    border-bottom: 1px solid transparent;
    transition: border 0.4s, transform 0.4s;
    display: inline-block;
}

a:hover{
    border-bottom: 1px solid var(--primary-darktheme-fg);
    transform: scaleX(1.1);
    transition: 0.4s;
}

html{
    scroll-behavior: smooth; 
}

body{
    margin: 0;
    padding:0;
    background-color: var(--primary-dark-bg);
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--plain-col);
}

body > *{
    width: 100%;
    /* changed from 100 */
}

/* =================================== */
/* == General container and section == */
/* =================================== */
section{
    margin: 1em 10% 2em 10%;
}

section h2,p {
    font-weight: 600;
    margin: 0;
}

h2{
    font-weight: bold;
}

/* ============ */
/* == Navbar == */
/* ============ */
.navBar{
    display: flex no-wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0.3em 10%;
}

.navBar__right ul{
    list-style: none;
    display: flex;
    /* justify-content: space-around; */
    justify-content: flex-end;
    margin-left: auto;
}

.navBar__right li{
    display: inline-block;
    height: 100%;
    /* width: 33%; */
    padding: 0.5em 2em;
    font-weight: 600;
    font-size: 1.25em;
}

/* ================== */
/* == Hero Section == */
/* ================== */
.heroSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    padding-bottom: 10px;
}

.heroSection__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: var(--secondary-dark-bg);
    border-radius: 2rem;
    padding: 2em;
    font-size: 1.3em;
    width: 62%;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: inset 10px 10px 32px -20px var(--plain-dark);
    transition: transform 0.5s, box-shadow 0.5s;
    margin-right: 1em;
}

.heroSection__left h1, h2,p {
    /* font-weight: normal; */
    margin: 0;
}

.heroSection__head{
    font-size: 1.2em;
}

.heroSection__left h1,p{
    font-size: 1.2em;
}
/* ================================ */
/* == Hero Section Interactivity == */
/* ================================ */
.heroSection__left:hover{
    transform: scale(1.05) skew(-1deg, -1deg);
    box-shadow: inset 10px 10px 48px -20px var(--plain-dark);
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.heroSection__right:hover{
    transform: scale(0.98);
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
/* =============================== */

.heroSection__head{
    font-family: var(--highlighted-font);
    /* font-size: 4em; */
    display: block;
    margin-bottom: 1em;
}

#name-text, #role-text{
    font-size: 1.05em;;
}

#name-text{
    font-weight: bold;
    color: var(--secondary-darktheme-fg)
}
#role-text{
    font-family: var(--secondary-font);
    /* font-size: 2em; */
}

/* ================= */
/* == Text Cursor == */
/* ================= */
#role-text::after{
    content: "";
    display: inline-block;
    height: 1em;
    width: 4px;
    margin-left: 5px;
    margin-bottom: -5px;
    background-color: var(--secondary-darktheme-fg);
    animation: blink 1s steps(2) infinite;
}
/* ============== */

.heroSection__right{
    user-select: none;
    max-height: 90vh;
    height: 70vh;
    min-height: 400px;
    min-width: 200px;
    transition: transform 1s;
    /* padding:1em; */
}

.heroSection__right img{
    height: 100%;
    max-width: 95%;
}

/* ================ */
/* == Learn More == */
/* ================ */
.learn-text{
    font-size: 1.6em;
    font-family: var(--secondary-font);
    color: var(--secondary-darktheme-fg);
    margin-left: 1em;
}


/* =================== */
/* == About Section == */
/* =================== */
h2{
    font-size: 3em;
    color:var(--primary-darktheme-fg)
}
/* ========-============ */
/* == General Section == */
/* ===================== */
.subsection {
    margin: 1em 0;
    padding: 1em;
    margin-top: 2em;
    background-color: var(--secondary-dark-bg);
    border-radius: 2em;
}

.subsection img{
    border-radius: 1em;
}

.subsection h3,p {
    font-weight: normal;
    margin: 0;
}

.subsection h3{
    font-size: 2.6em;
    /* font-weight: normal; */
}

#about{
    margin-bottom: 0;
}
.section__container, .subsection__container{
    display: flex;
}

.subsection__container{
    justify-content: space-around;
    align-items:center;
}

.subsection__container img{
    width: 100%;
}

#about h3{
    padding: 0.2em;
    text-align: center;
}

#about p{
    padding-left: 1em;
}

#about .subsection__container{
    margin-top: 0.4em;
}

/* == Education == */

.educationSection .subsectionCard{
    margin: 0.5em;
    padding: 1em;
    background-color: var(--primary-dark-bg);
    border-radius: 2em;
}

.educationSection {
    background-color: var(--secondary-dark-bg);
    padding: 1em 2em;
}

.subsectionCard{
    width: 40%;
    transition: transform 0.4s;
}

.subsectionCard:hover{
    transform: scale(1.02);
    transition: 0.4s;
}

.subsectionCard__head {
    display: flex;
    flex-direction: row;
}

.subsectionCard__head h4{
    font-size: 1.6em;
    padding: 0;
    margin: 0.4em;
    font-weight: normal;
}

.subsectionCard__head img {
    width: 80px;
    margin: 0.2em;
}

.subsectionCard .subsection__timePeriod{
    text-align: right;
}

.subsection__details{
    display: flex;
    justify-content: space-around;
}

.subsection__percentage {
    text-align: center;
}


.certificationsSection {
    /* background-color: var(--secondary-bg-shade2); */
    background-color: transparent;
    position: relative;
}

.certificationsSection .subsection__container{
    width: 95%;
}

.certificationsSection .subsectionCard{
    margin: 0.4em;
}

.certificationsSection .subsectionCard{
    border: 0;
}

.certificationsSection .subsectionCard:hover{
    transform: scale(0.98);
    border-bottom: 0;
}

.certificationsSection img{
    max-width: 80%;
}

.certificationsSection {
    text-align: center;
}

.more_cert_btn{
    width: 30px;
    position: absolute;
    top:50%;
    right:10px;
    /* filter: invert(1); */
}


.skillsSection{
    background-color: var(--secondary-dark-bg);
    text-align: center;
}

.skillsSection .subsection__container{
    flex-wrap: wrap;
}
.skillsSection img{
    user-select: none;
    width: 50px;
    border-radius: 0;
}

.skillsSection h5{
    color: var(--primary-darktheme-fg);
    font-size: large;
    padding: 0;
    margin: 0;
}

.skillStat::before{
    content: "";

}

.skillStat {
    margin-left: 1em;
    padding: 0.4em 2em;
}


#projects{
    /* background-color: var(--secondary-bg-shade1); */
    border-radius: 2em;
    padding: 2em;
}

#projects .section__container{
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1em;
}

.project__container{
    width: 45%;
   display: flex;
   flex-direction: column;
   margin: 0.4em;
   background-color: var(--tertiary-dark-bg);
   border-radius: 2em;
   padding: 1em;
}

.project__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 0.2em;
    margin-bottom: 0.6em;
}

.project__head h4{
    font-size: 1.4em;
}

.project__links {
    align-items: center;
}

.project__links > *{
    margin-right: 0.4em;
}

.project__container img{
    max-width: 100%;
    user-select: none;
    border-radius: 2px;
}

.project__container .project__head a{
    width: 20px;
    border: 0;
}
.project__container .project__head a:hover{
    transform:scale(1.2);
    opacity: 0.9;
    border: 0;
    /* display: inline-block; */
}

.project__showcase{
    /* position: relative; */
    display: flex;
    width: 100%;
    margin-bottom: 2em;
    justify-content: space-between;
    /* width: 80%; */
}

.project__showcase img{
    width: 48%;
}

footer{
    display: flex;
    background-color: #222;
    color: var(--primary-dark-bg);
    justify-content: space-around;
    align-items: center;
    padding: 0.6em 0;
    width: 100%;
}

footer .findMe{
    display: flex;
    display: inline-block;
    flex-direction: column;
}

.findMe p,ul{
    display: inline-block;
}

.findMe ul{
    padding: 0;
    margin-left: 0.4em;
}

.findMe ul li{
    display: inline-block;
    padding: 0 0.4em;
}

.findMe img{
    width: 20px;
}

footer a{
    color: var(--primary-dark-bg);
}

@keyframes blink {
    0%{
        opacity: 0;
    }
}

@media screen and (min-width:1200px) {

    .heroSection__left{
        font-size: 1.8em;
    }
    .heroSection{
        font-size: 1.35em;
    }
}

@media screen and (max-width:1200px) {
    .heroSection{
        font-size: 1.5em;
    }

    .educationSection h4{
        font-size: 1.3em;
    }
}

@media screen and (max-width:1080px) {

    .heroSection{
        font-size: 1.1em;
    }

    /* Education */

    .subsection__container{
        flex-wrap: wrap;
        font-size: 0.9em;
    }

    .heroSection__right{
        padding:1em;
        width: 300px;
    }

    /* Certifications */
    .certificationsSection .subsection__container{
        font-size: 2em;
        font-weight: 500;
    }

}

@media screen and (max-width:720px) {
    section{
        width: 80%;
    }

    .heroSection{
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        /* padding: ; */
    }
    .heroSection__left{
        width: 80%;
    }

    .navBar__right li{
        padding: 0.25em 1em;
        font-size: 1.1em;
    }

    .heroSection__right{
        padding:1em;
        width: 300px;
    }

    /* Education */

    .subsection__container{
        flex-wrap: wrap;
    }

    .educationSection .subsectionCard{
        width: 100%;
    }
    
}

@media screen and (max-width:480px) {
    body{
        font-size: 0.8em;
        /* text-align: center; */
    }

    body > * {
        width: 95%;
    }

    .heroSection, section{
        padding: 0.5em;
    }
    .navBar__right{
        flex-wrap: wrap;
    }
    .navBar__right li{
        width: 33%;
        min-width: 60px;
    }

    /* About */
    /* Subsections */
    .subsectionCard__head img {
        width: 50px;
        margin: 0.2em;
    }

    .subsection__container{
        flex-direction: column;
    }

    .certificationsSection .subsectionCard{
        width: 100%;
    }

    .certificationsSection .subsectionCard img {
        width: 300px;
        margin: 0.2em;
    }

    /* Skills */

    .skillsSection .subsection__container{
        flex-wrap: wrap;
    }

    .skillStat{
        width: 80%;
        padding: 1em 0;
    }
    .skillsSection img{
        user-select: none;
        width: 100px;
        border-radius: 0;
    }

    /* Projects */

    #projects{
        padding: 1em;
    }

    #projects .section__container{
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 1em;
    }

    .project__container{
        width: 100%;
    }

    .project__links img{
        width: 18px;
    }

    .project__showcase{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .project__showcase img{
        width: 100%;
        margin-bottom: 5px;
        user-select: none;
    }
    

    footer{
        width: 100%;
        flex-direction: column;
    }
}

.about{
    background-color: #564785;
    width: 1200px;
    /* width: 1200px; */
    margin-left: 60px;
    height: 500px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.div1{
   width: 400px;
   height: 500px;
   margin: 20px 20px 20px 20px;
}

.div2{
    width: 400px;
    height: 500px;
    margin: 20px 20px 20px 20px;
 }

 .div3{
    width: 400px;
    height: 500px;
    margin: 20px 20px 20px 20px;
 }


 .container{
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #222;
    transition: all 0.3s ease-in-out;
  }
  
  .nav .container{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
  }
  
  .nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
  }
  
  .nav a{
    text-decoration: none;
    color: #fff;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
  }
  
  .nav.active{
    background-color: #fff;
    box-shadow: 0  2px 10px rgba(0, 0, 0, 0.3);
  }
  
  .nav.active a{
    color: #222;
  }
  
  .nav.active .container{
    padding: 10px 0;
  }
  
  .nav a.current, .nav a:hover{
    color:#D80032;
    font-weight: bold;
  }
  
  .hero{
      /* background-image: url('downloads.jpg'; */
      background-image: url(download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom-center;
    height:100vh;
    color:#fff;
    display: flex;
    align-items:center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
  }
  
  .hero::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  
  .hero h1{
    font-size: 46px;
    margin: -20px 0 20px;
  }
  
  .hero p{
    font-size: 20px;
    letter-spacing: 1px;
  }
  
  .content h2, .content h3{
    font-size: 150%;
    margin: 20px 0;
  }
  
  .content p {
    color: #555;
    line-height: 1.6;
    letter-spacing: 1px;
  }

  .contacts {
    display: grid;
    align-items: center;
    gap: 3rem;
    padding: 40px;
    padding-top: 70px;
    justify-content: center;
    background-color: #000;
}

.contact-text {
    align-content: center;
}

.contact-text h2 {
    font-size: 60px;
    line-height: normal;
    text-align: center;

}

.contact-text h2 span {
    color: #0ef;
}

.contact-text h4 {
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}

.contact-list {
    margin-bottom: 3rem;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.contact-list i {
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
    padding: 10px;
}


.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(33, 35, 35);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(29, 30, 30);
    text-decoration: none;
    margin: 0px 15px 0px 0;
    opacity: 1;
}

.contact-icons i:hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}

.parent-skill {
    width: 200px;
    height: 400px;
    padding: 50px 50px 50px 50px;
    margin-left: 140px;
}

.skill {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    display: flex;
    align-items: center;
    justify-content: center;
}


.skill_main{
    display: flex;
    flex-direction: column;
}
.progress {
    width: 97%;
    height: 97%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background: linear-gradient(280deg, #1e2024, #23272b);
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-number {
    font-family: 'Poppins', sans-serif;
    color: #f9004d;
    font-size: 2rem;
}

.title {
    font-family: 'Poppins', sans-serif;
    color: #f9004d;
    font-size: 2rem;
    display: block;
    text-align: center;
    margin-top: 20px;
}
